html {
	font-family: sans-serif;
	color: black;
	font-size: 16px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 2rem;
}

#boards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 2rem;
}

.board {
	width: 100%;
	height: 100%;

	max-width: 480px;
	max-width: 480px;

	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);

	border: solid 0.0625rem black;
	box-sizing: border-box;
}

.cell {
	min-width: 100%;
	min-height: 100%;
	aspect-ratio: 1/1;
	border: solid 0.0625rem black;
	box-sizing: border-box;
}

.empty,
.reserved {
	background-color: hsl(0, 0%, 75%);
}

.taken {
	background-color: dodgerblue;
}

.hit {
	background-color: red;
}

.miss {
	background-color: white;
}

.hit:before,
.miss:before {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	height: 100%;
	overflow: hidden;
}

.hit:before {
	content: 'x';
}

.miss:before {
	content: '•';
}

#buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 480px;
	width: 100%;
	gap: 1rem;
}

.btn {
	border: solid 0.0625rem black;
	background-color: white;
	padding: 1rem;
}

.btn.selected {
	background-color: lightgreen;
}

.btn:hover {
	cursor: pointer;
}

.boardOutline {
	animation: flyInside 5s infinite ease-in;
	animation-delay: 5s;
}

@keyframes flyInside {
	0% {
		outline: 1rem solid transparent;
	}

	85% {
		outline: 1rem solid transparent;
	}

	100% {
		outline: 0rem solid black;
	}
}

#secondBoard:hover .empty,
#secondBoard:hover .taken {
	cursor: crosshair;
}

.wait #secondBoard:hover .empty,
.wait #secondBoard:hover .taken {
	cursor: unset;
}
.wait {
	cursor: wait;
}
