html {
	font-family: Arimo, sans-serif;
	color: black;
	font-size: 16px;
	font-weight: 400;
	background-color: white;
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 2rem;
	justify-content: space-between;
	gap: 1rem;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 30rem;
}

header h1 {
	font-family: Orbitron, sans-serif;
	font-size: 2rem;

	font-weight: 700;
	color: grey;
	letter-spacing: 0.125rem;
	margin: 0;
	padding-top: 1rem;
}

#messageBox p {
	margin: 0;
	width: 100%;
	font-size: 1.14375rem;
	text-align: center;
	font-weight: 500;
}

#boards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 2rem;
	padding: 2rem 0 0 0;
}

.board {
	width: 100%;
	height: 100%;

	max-width: 30rem;
	max-height: 30rem;

	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);

	border: solid 0.03125rem black;
}

.cell {
	min-width: 100%;
	min-height: 100%;

	border: solid 0.03125rem black;
	box-sizing: border-box;
	position: relative;
}

#secondBoard.start.hide .cell:hover {
	border: solid 0.125rem black;
	outline: solid 0.03125rem black;
	box-sizing: border-box;
	z-index: 1;
}

.empty,
.reserved,
.taken,
.miss {
	background-color: white;
}

#secondBoard.hide .empty,
#secondBoard.hide .reserved,
#secondBoard.start.hide .taken,
#secondBoard.start.hide .reserved {
	background-color: white;
	border: solid 0.03125rem black;
}

.taken,
.ship {
	background-color: dodgerblue;
}

#secondBoard .taken {
	background-color: dodgerblue;
}

#secondBoard.start .taken {
	background-color: mediumslateblue;
}

#firstBoard .filled {
	border: solid 0.03125rem color-mix(in srgb, white 25%, dodgerblue) !important;
	background-color: hsla(210, 100%, 56%, 75%) !important;
}

#secondBoard .filled {
	border: solid 0.03125rem color-mix(in srgb, white 25%, mediumslateblue) !important;
	background-color: hsla(249, 80%, 67%, 75%) !important;
}

#firstBoard .filled .ship,
#secondBoard .filled .ship {
	opacity: 0;
}

#firstBoard .filled:before,
#secondBoard .filled:before {
	content: '';
}

.hit {
	background-color: red;
}

.reserved {
	background-color: hsla(210, 100%, 56%, 25%);
	background-color: color-mix(in srgb, white 75%, dodgerblue);
}

#secondBoard.start .reserved {
	background-color: hsla(249, 80%, 67%, 25%);
	background-color: color-mix(in srgb, white 75%, mediumslateblue);
}

.hit:before,
.miss:before {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	height: 100%;
	overflow: hidden;
}

.hit:before {
	content: 'x';
}

.miss:before {
	content: '•';
}

#buttons {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	width: 100%;
	max-width: 30rem;
	padding: 1.5rem 0 0 0;
	touch-action: manipulation;
}

.btn {
	color: black;
	border: solid 0.0625rem black;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
	min-height: 4.370625rem;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	font-weight: inherit;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn.selected {
	color: white;
	font-weight: 500;
}

#speedInput {
	border: solid 0.0625rem black;
	border-radius: 1rem;
	min-height: 4.370625rem;
	box-sizing: border-box;
}

#speeds {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-direction: column;
	height: 100%;
	gap: 0.25rem;
}

#speeds div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	padding: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
#speeds div label {
	width: min-content;
}

#speeds div input[type='radio'] {
	transform: scale(2);
}

#speeds div input[type='radio']:hover,
#speeds div label:hover {
	cursor: pointer;
}

#speeds div:nth-child(1) {
	border-right: solid 0.0625rem black;
}

#speeds div:nth-child(3) {
	border-left: solid 0.0625rem black;
}

#playerVsComputer.selected {
	background-color: dodgerblue;
}

#computerVsComputer.selected {
	background-color: mediumslateblue;
}

#playerVsComputer.selected:disabled {
	background-color: dodgerblue;
	color: white;
	border: solid 0.0625rem black;
}

#computerVsComputer.selected:disabled {
	background-color: mediumslateblue;
	color: white;
	border: solid 0.0625rem black;
}

.btn:hover {
	cursor: pointer;
}

.btn:disabled {
	cursor: not-allowed;
	border: solid 0.0625rem hsl(0, 0%, 75%);
	color: hsl(0, 0%, 75%);
}

#secondBoard:hover .empty,
#secondBoard:hover .reserved,
#secondBoard:hover .taken {
	cursor: default;
}

#secondBoard.start:hover .empty,
#secondBoard.start:hover .reserved,
#secondBoard.start:hover .taken {
	cursor: crosshair;
}

#secondBoard:hover .hit,
#secondBoard:hover .miss {
	cursor: default;
}

.wait #secondBoard:hover .empty,
.wait #secondBoard:hover .reserved,
.wait #secondBoard:hover .taken,
.wait #secondBoard:hover .hit,
.wait #secondBoard:hover .miss {
	cursor: wait;
}

.wait {
	cursor: wait;
}

.ship {
	top: -0.03125rem;
	left: -0.03125rem;
	border: solid 0.03125rem black;
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
}

.draggable:hover {
	cursor: move;
	filter: brightness(125%);
}

.highlight {
	background-color: grey !important;
}

.boardOutline {
	animation: flyInside 5s infinite ease-in;
}

@keyframes flyInside {
	0% {
		outline: 1rem solid transparent;
	}

	85% {
		outline: 1rem solid transparent;
	}

	100% {
		outline: 0rem solid black;
	}
}

#speaker {
	opacity: 0.75;
}

#footer {
	font-size: 0.875rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

#signature {
	display: flex;
	align-items: center;
	height: 2.125rem;
	white-space: nowrap;
}

.fa-github {
	color: black;
	opacity: 0.75;
	transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
	opacity: 100%;
	transform: rotate(360deg) scale(1.2);
}

@media only screen and (min-width: 360px) {
	header h1 {
		font-size: 2.375rem;
	}

	#buttons {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	#playerVsComputer {
		grid-column: 1/3;
	}

	#newGame {
		grid-column: 3/5;
	}

	#computerVsComputer {
		grid-column: 5/7;
	}

	#speedInput {
		grid-column: 1/7;
	}

	#start {
		grid-column: 1/3;
	}

	#randomPlacement {
		grid-column: 3/5;
	}

	#mute {
		grid-column: 5/7;
	}
}

@media only screen and (min-width: 544px) {
	body {
		gap: 2rem;
	}

	header h1 {
		font-size: 3.9375rem;
	}

	#boards {
		gap: 3rem;

		min-width: 30rem;
		min-height: 30rem;
	}

	#speeds div label {
		width: max-content;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		margin: 0;
	}

	header h1 {
		font-size: 8.45rem;
		padding: 0;
	}

	#wrapper {
		max-width: 64rem;
	}

	#messageBox {
		order: 1;
	}

	#buttons {
		order: 3;
		padding: 0;
		max-width: 63rem;
		grid-template-columns: repeat(5, 1fr);
	}

	#boards {
		order: 2;
		padding: 3rem 0;
	}

	#playerVsComputer {
		grid-column: 2/3;
	}

	#newGame {
		grid-column: 3/4;
	}

	#computerVsComputer {
		grid-column: 4/5;
	}

	#speedInput {
		grid-column: 2/5;
	}

	#start {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	#randomPlacement {
		grid-column: 1/2;
		grid-row: 2/3;
	}
}
