html {
	font-family: Arimo, sans-serif;
	color: black;
	font-size: 16px;
	font-weight: 400;
	background-color: white;
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 2rem;
	gap: 2rem;
	justify-content: space-between;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 30rem;
}

header {
	font-family: Orbitron, sans-serif;
	font-size: 2rem;

	font-weight: 700;
	color: grey;
	letter-spacing: 0.125rem;
}

#messageBox {
	width: 100%;
	font-size: 18.3px;
}

#boards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 3rem;
	padding: 3rem 0;
}

.board {
	width: 100%;
	height: 100%;

	max-width: 480px;
	max-height: 480px;

	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);

	border: solid 0.03125rem black;
	box-sizing: border-box;
}

.cell {
	min-width: 100%;
	min-height: 100%;
	aspect-ratio: 1/1;

	border: solid 0.03125rem black;
	box-sizing: border-box;
	position: relative;
}

.start.hide .cell:hover {
	border: solid 0.125rem black;
	outline: solid 0.03125rem black;
	box-sizing: border-box;
	z-index: 1;
}

.empty,
.reserved,
.taken,
.miss,
#secondBoard.hide .empty,
#secondBoard.hide .reserved,
#secondBoard.hide .taken,
#secondBoard.start.hide .reserved {
	background-color: white;
}

.taken,
.ship {
	background-color: dodgerblue;
}

#secondBoard .taken {
	background-color: mediumslateblue;
}

.hit {
	background-color: red;
}

.reserved {
	background-color: hsla(210, 100%, 56%, 25%);
	background-color: color-mix(in srgb, white 75%, dodgerblue);
}

#secondBoard.start .reserved {
	background-color: hsla(249, 80%, 67%, 25%);
	background-color: color-mix(in srgb, white 75%, mediumslateblue);
}

.hit:before,
.miss:before {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	height: 100%;
	overflow: hidden;
}

.hit:before {
	content: 'x';
}

.miss:before {
	content: '•';
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

#start {
	grid-column: 4;
}

#randomPlacement {
	grid-column: 5;
}

.btn {
	color: black;
	border: solid 0.0625rem black;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
	min-height: 69.93px;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	font-weight: inherit;
}

.btn.selected {
	color: white;
	font-weight: 500;
}

#playerVsComputer.selected {
	background-color: dodgerblue;
}

#computerVsComputer.selected {
	background-color: mediumslateblue;
}

.btn:hover {
	cursor: pointer;
}

.btn:disabled {
	cursor: not-allowed;
	border: solid 0.0625rem hsl(0, 0%, 75%);
	color: hsl(0, 0%, 75%);
}

#secondBoard:hover .empty,
#secondBoard:hover .reserved,
#secondBoard:hover .taken {
	cursor: crosshair;
}

#secondBoard:hover .hit,
#secondBoard:hover .miss {
	cursor: default;
}

.wait #secondBoard:hover .empty,
.wait #secondBoard:hover .reserved,
.wait #secondBoard:hover .taken,
.wait #secondBoard:hover .hit,
.wait #secondBoard:hover .miss {
	cursor: wait;
}

.wait {
	cursor: wait;
}

.ship {
	top: -0.03125rem;
	left: -0.03125rem;
	border: solid 0.03125rem black;
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
}

.draggable:hover {
	cursor: move;
	filter: brightness(125%);
}

.highlight {
	background-color: grey !important;
}

.boardOutline {
	animation: flyInside 5s infinite ease-in;
}

@keyframes flyInside {
	0% {
		outline: 1rem solid transparent;
	}

	85% {
		outline: 1rem solid transparent;
	}

	100% {
		outline: 0rem solid black;
	}
}

#footer {
	font-size: 0.875rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

#signature {
	display: flex;
	align-items: center;
	height: 2.125rem;
	white-space: nowrap;
}

.fa-github {
	color: black;
	opacity: 0.75;
	transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
	opacity: 100%;
	transform: rotate(360deg) scale(1.2);
}

@media only screen and (min-width: 544px) {
	header {
		font-size: 3.9375rem;
	}

	#buttons {
		justify-content: right;
	}

	.btn {
		width: calc((30rem - 2rem) / 3);
	}
}

@media only screen and (min-width: 1024px) {
	header {
		font-size: 8.45rem;
	}

	body {
		margin: 0 0.5rem;
	}

	#wrapper {
		max-width: 63rem;
	}

	#buttons {
		width: 100%;
	}

	.btn {
		flex: 1;
	}
}
